<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Sign Up</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div class="container py-5">
    <h2>Sign Up</h2>

    {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <form action="/signup" method="post" class="row g-3">
        <div class="col-md-6">
            <input class="form-control" name="email" type="email" placeholder="Email" required />
        </div>
        <div class="col-md-6">
            <input class="form-control" name="password" type="password" placeholder="Password" required />
        </div>
        <div class="col-12">
            <button class="btn btn-success">Sign Up</button>
        </div>
    </form>

    <a href="/login" class="btn btn-link">Already have an account? Login</a>
</div>
</body>
</html>




